
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_Basic.cshtml";
}


<!-- Home -->

<div class="home">
    <div class="background_image"><img src="~/images/booking.jpg" /></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">Invoice</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Booking -->

<div class="booking">

</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            Date
            <strong>
                <p id="demo"></p>

                <script>
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d;
                </script>
            </strong>

            <p>Payment Id :  @ViewBag.paymentId</p>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    <div>
                        <strong>Mohit Mahajan</strong>
                    </div>
                    <div>Portal : Hotel Room Booking</div>
                    <div>New Delhi</div>
                    <div>Email: hotelroombooking@gmail.com</div>
                    <div>Phone: +7018812345</div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Address:</h6>
                    <div>
                        <strong>@ViewBag.Customers.CustomerFirstName</strong> &nbsp;<strong>@ViewBag.Customers.CustomerLastName</strong>
                    </div>
                    <div>@ViewBag.Customers.CustomerAddress</div>
                    <div>@ViewBag.Customers.State</div>
                    <div>Email: @ViewBag.Customers.CustomerEmailId</div>
                    <div>Phone: @ViewBag.Customers.CustomerContactNumber</div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Room Id</th>
                            <th class="right">Unit Cost</th>
                            <th class="center">No of Days</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in ViewBag.booking)
                        {
                        <tr>
                            <td>@item.HotelRooms.RoomId</td>
                            <td>@item.HotelRooms.RoomPrice</td>
                            <td>@ViewBag.days</td>
                            <td>@(item.HotelRooms.RoomPrice * item.Quantity * ViewBag.days)</td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>@ViewBag.total</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>