@model coreHotelRoomBookingAdminPortal.Models.RoomFacility
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Room Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAvilable" /> @Html.DisplayNameFor(model => model.IsAvilable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Wifi" /> @Html.DisplayNameFor(model => model.Wifi)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AirConditioner" /> @Html.DisplayNameFor(model => model.AirConditioner)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Ekettle" /> @Html.DisplayNameFor(model => model.Ekettle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Refrigerator" /> @Html.DisplayNameFor(model => model.Refrigerator)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RoomFacilityDescription" class="control-label"></label>
                <input asp-for="RoomFacilityDescription" class="form-control" />
                <span asp-validation-for="RoomFacilityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Room Name</label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.hotelRoom"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Edit" />
                <br />
                <br />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>