@model IEnumerable<coreHotelRoomBookingAdminPortal.Models.RoomFacility>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}<a asp-controller="RoomFacility" asp-action="Create" class="btn btn-primary">Insert Room Facility</a>
<br />
<br />
@ViewBag.Error
<table class="table table-hover table table-bordered">
    <thead>
        <tr>
            <th>
                Room Facility Id
            </th>
            <th>
                Is Avilable
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomFacilityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvilable)
                </td>
                <td>
                    <a asp-controller="RoomFacility" asp-action="Details" asp-route-id="@item.RoomFacilityId" class="btn btn-primary">Details</a>
                    <a asp-controller="RoomFacility" asp-action="Edit" asp-route-id="@item.RoomFacilityId" class="btn btn-success">Edit</a>
                    <a asp-controller="RoomFacility" asp-action="Delete" asp-route-id="@item.RoomFacilityId" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>